<div class="content">
  <div class="nav-side-menu">
    <i
      data-toggle=""
      data-target="#menu-content"
      class="fa fa-bars fa-2x toggle-btn"
    ></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content out">
        <li data-target="#add, #add3" aria-controls="add add3" class="active">
          <a
            ><i class="glyphicon glyphicon-cog"></i
            ><b style="font-size: 17px">Área de Configuração</b></a
          >
        </li>
        <ul aria-expanded="false" id="add" class="sub-menu in">
          <li
            id="criarProcessos"
            data-target="#add1"
            aria-expanded="false"
            class="active"
          >
            <b style="font-size: 15px">Criar Processo</b>
          </li>
          <form id="add1">
            <div style="background: rgb(218, 218, 218)">
              <div style="text-align: center">
                <label for="checkGerador"
                  ><input type="checkbox" id="checkbox" name="checkbox" [(ngModel)]="checkboxChecked" (ngModelChange)="randonNumbers($event.target.checked)"/>
                  Gerar
                  processo com valores aleatórios?
                  <!----></label
                >
              </div>
            </div>
            <div>
              <div class="form-group">
                <input
                  placeholder="Processo:"
                  type="text"
                  required="required"
                  id="processo"
                  name="processo"
                  maxlength="1"
                  class="form-control"
                  style="text-transform: capitalize"
                  [(ngModel)]="processName"
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="Código:"
                  type="number"
                  required="required"
                  id="codigo"
                  name="codigo"
                  min="1"
                  maxlength="1"
                  class="form-control"
                  [(ngModel)]="codeNumber"
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="Dados:"
                  type="number"
                  min="1"
                  required="required"
                  id="dado"
                  name="dado"
                  class="form-control"
                  [(ngModel)]="dataNumber"
                />
              </div>
              <div class="form-group">
                <input
                  placeholder="Pilha:"
                  type="number"
                  min="1"
                  required="required"
                  id="pilha"
                  name="pilha"
                  class="form-control"
                  [(ngModel)]="stackNumber"
                />
              </div>
              <div id="botoes" style="text-align: center">
                <button
                  type="submit"
                  (click)="submitProcess()"
                  class="btn btn-success"
                >
                  <i class="glyphicon glyphicon-plus-sign"></i>
                  Cadastrar</button
                ><button type="reset" id="reset-btn" class="btn btn-danger">
                  <i class="glyphicon glyphicon-remove-sign"></i> Cancelar
                </button>
              </div>
            </div>
          </form>
        </ul>
        <ul aria-expanded="true" id="add3" class="sub-menu in 2">
          <li
            id="ListaProcessos"
            data-target="#add2"
            aria-expanded="false"
            class="active"
          >
            <b style="font-size: 15px">Lista de Processos</b>
          </li>
          <div id="add2" class="row">
            <div class="col-lg-12">
              <div class="card">
                <div
                  *ngFor="let item of processes; let i = index"
                  class="card-body"
                >
                  <span item="[object Object]"
                    ><button
                      (click)="showProcess(item.name)"
                      class="btn btn-secondary btn-sm distancia-botao-processos"
                      style="font-weight: bold"
                    >
                      {{ item.name }}</button
                    ><button
                      (click)="removeProcess(i)"
                      class="glyphicon glyphicon-remove-sign btn btn-danger"
                    >
                      X</button
                    ><br
                  /></span>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </ul>
    </div>
  </div>

  <div class="center">
    <button type="submit" (click)="show()" class="btn btn-success shoubtn">
      show
    </button>
    <div class="process">
      <div class="proces" *ngFor="let item of processes; let i = index">
        <span item="[object Object]"
          ><button
            (click)="showProcess(item.name)"
            class="btn btn-secondary btn-sm distancia-botao-processos"
          >
            {{ item.name }}
          </button></span
        >
      </div>
    </div>

    <div class="center-l">
      <span>batat</span>
      <div class="contain" *ngFor="let item of processes; let i = index">
        <div id="contain-{{ item.name }}" class="table{{i}} tables left-page process-btns">
          <div class="tablesL pr-1">
            <span
              ><h4>Segmento 00 - Código</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of item.data[1]; let i = index">
                    <td [style.background-color]="whatColor(item.name + 'C')">
                      {{ data[0] }}
                    </td>
                    <td [style.background-color]="whatColor(item.name + 'C')">
                      {{ data[1] }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <h4>Segmento 01 - Dados</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of item.data[2]; let i = index">
                    <td [style.background-color]="whatColor(item.name + 'D')">
                      {{ data[0] }}
                    </td>
                    <td [style.background-color]="whatColor(item.name + 'D')">
                      {{ data[1] }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <h4>Segmento 10 - Pilha</h4>
              <table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Deslocamento</th>
                    <th>Bytes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of item.data[3]; let i = index">
                    <td [style.background-color]="whatColor(item.name + 'P')">
                      {{ data[0] }}
                    </td>
                    <td [style.background-color]="whatColor(item.name + 'P')">
                      {{ data[1] }}
                    </td>
                  </tr>
                </tbody>
              </table></span
            >
          </div>
          <div class="tablesR pl-1">
            <h4>Tabela de Segmentos</h4>
            <span
              ><table class="table table-borderless table-memoria-fisica">
                <thead>
                  <tr>
                    <th>Segmento</th>
                    <th>Base</th>
                    <th>Limite</th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tbody>
                  <tr *ngFor="let data of item.data[0]; let i = index">
                    <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                    >
                      {{ data[0] }}
                    </td>
                    <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                    >
                      {{ data[1] }}
                    </td>
                    <td
                      [style.background-color]="
                        whatColor(
                          item.name + (i === 0 ? 'C' : i === 1 ? 'D' : 'P')
                        )
                      "
                    >
                      {{ data[2] }}
                    </td>
                  </tr>
                </tbody>
              </table></span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="center-r">
      <div class="tables">
        <div class="tablesL">
          <table class="table table-borderless table-memoria-fisica">
            <thead>
              <tr bgColor="fff">
                <th>adress</th>
                <th>byte</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableMemory; let i = index">
                <ng-container *ngIf="i <= 15">
                  <td>{{ item[0] }}</td>
                  <td [style.background-color]="whatColor(item[2])">
                    {{ item[1] }}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tablesR">
          <table class="table table-borderless table-memoria-fisica">
            <thead>
              <tr bgColor="fff">
                <th>adress</th>
                <th>byte</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableMemory; let i = index">
                <ng-container *ngIf="i > 15">
                  <td>{{ item[0] }}</td>
                  <td [style.background-color]="whatColor(item[2])">
                    {{ item[1] }}
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
